body{
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 200px;
}

img{
    width: 80%;
    max-width: 400px;
    margin-bottom: 10px;
}

form{
    width:100%;
    display: flex;
    justify-content: center;
}

input{
    width: 90%;
    max-width: 600px;
    border-radius: 100px;
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: bold;
    font-size: large;
    box-sizing: border-box;
    height: 45px;
}

input:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.btn-link{
    display: inline-block;
    margin-top: 25px;
    background-color: rgb(216, 220, 220);
    color: black;
    text-decoration: none;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 5px;
    height: auto;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 10px;
}

.youtube:hover{
    background-color: rgb(222, 44, 44);
    color: whitesmoke;
}

.spotify:hover{
    background-color: rgb(6, 213, 6);
}

.github:hover{
    background-color: whitesmoke;
}
.btn-link:hover{
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    border: 1px solid black;
}